<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty name="jsonConsoleOutput" source="app.logging.json-output"/>

	<if condition='!isDefined("app.logging.logback.customConfig")'>
		<then>
			<include resource="logback/base.xml"/>

			<logger name="root" level="INFO"/>
		</then>
	</if>
</configuration>